<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <form action="/courses/add" method="POST">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="courseDescription">Course Code</label>
            <input
              class="form-control"
              id="courseCode"
              name="courseCode"
              type="text"
            >
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label for="courseDescription">Course Description</label>
            <input
              class="form-control"
              id="courseDescription"
              name="courseDescription"
              type="text"
            >
          </div>
        </div>
      </div>
      <hr>
      <input
        type="submit"
        class="btn btn-primary float-right"
        value="Add Course"
      ><br><br><br>
    </form>
    <!-- End your code here  -->
  </main>
</div>