<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/public/css/theme.css"
	</head>

	<body>
		<nav class="navbar navbar-dark navbar-expand-lg">
			<a class="navbar-brand" href="#">Pak Hei Lo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto" id="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
                    <li class="nav-item active"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto" id="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
                    <form action="/students/add" method="POST">
                        <fieldset>
                            <legend>Personal Information</legend>
                            <div class="row">
                                <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name:</label>
                                    <input class="form-control" name="firstName" type="text" />
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label >Last Name:</label>
                                        <input class="form-control" name="lastName" type="text"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label >Email:</label>
                                        <input class="form-control" name="email" type="email" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Address (Street):</label>
                                        <input class="form-control" name="addressStreet" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Address (City):</label>
                                        <input class="form-control" name="addressCity" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Address (Province):</label>
                                        <input class="form-control" name="addressProvince" type="text" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Academic Information</legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>College Employment:</label><br />
                                    <div class="form-check">
                                        <input class="form-check-input" name="TA" type="checkbox" id="TA">
                                        <label class="form-check-label" for="TA">
                                            Teaching Assistant
                                        </label>
                                    </div>
                                    <br />
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Enrollment Status:</label><br />
                                        <label  class="checkbox-inline">
                                            <input type="radio" name="status" value="Full Time" checked /> Full Time
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="radio" name="status" value="Part Time" /> Part Time
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="course">Enrolled in Course:</label>
                                        <select class="form-control" name="course" id="course">
                                            <option value="1">Relational Database Design and Implementation</option>
                                            <option value="2">Java Programming</option>
                                            <option value="3">Introduction to Cloud Computing</option>
                                            <option value="4">Database Administration and Management</option>
                                            <option value="5">Web Programming</option>
                                            <option value="6">Applied Capstone Project</option>
                                            <option value="7">Database Connectivity Using Java</option>
                                            <option value="8">Accessing Big Data</option>
                                            <option value="9">Datawarehousing</option>
                                            <option value="10">Security in Databases and Web Applications</option>
                                            <option value="11">Work Term Preparation (Work-Integrated Learning option only)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr />
                        <input type="submit" class="btn btn-primary float-right" value="Add Student" /><br /><br /><br />
                    </form>
					<!-- End your code here  -->



				</main>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>