<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <form action="/students/add" method="POST">
      <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name:</label>
              <input class="form-control" name="firstName" type="text" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name:</label>
              <input class="form-control" name="lastName" type="text" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Email:</label>
              <input class="form-control" name="email" type="email" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Address (Street):</label>
              <input class="form-control" name="addressStreet" type="text" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address (City):</label>
              <input class="form-control" name="addressCity" type="text" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Address (Province):</label>
              <input class="form-control" name="addressProvince" type="text" />
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Academic Information</legend>
        <div class="row">
          <div class="col-md-4">
            <label>College Employment:</label><br />
            <div class="form-check">
              <input
                class="form-check-input"
                name="TA"
                type="checkbox"
                id="TA"
              />
              <label class="form-check-label" for="TA">
                Teaching Assistant
              </label>
            </div>
            <br />
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Enrollment Status:</label><br />
              <label class="checkbox-inline">
                <input type="radio" name="status" value="Full Time" checked />
                Full Time
              </label>
              <label class="checkbox-inline">
                <input type="radio" name="status" value="Part Time" />
                Part Time
              </label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="course">Enrolled in Course:</label>
              <select class="form-control" name="course" id="course">
                <option value="1">Relational Database Design and Implementation</option>
                <option value="2">Java Programming</option>
                <option value="3">Introduction to Cloud Computing</option>
                <option value="4">Database Administration and Management</option>
                <option value="5">Web Programming</option>
                <option value="6">Applied Capstone Project</option>
                <option value="7">Database Connectivity Using Java</option>
                <option value="8">Accessing Big Data</option>
                <option value="9">Datawarehousing</option>
                <option value="10">Security in Databases and Web Applications</option>
                <option value="11">Work Term Preparation (Work-Integrated
                  Learning option only)</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
      <hr />
      <input
        type="submit"
        class="btn btn-primary float-right"
        value="Add Student"
      /><br /><br /><br />
    </form>
    <!-- End your code here  -->
  </main>
</div>