<div class="row">
  <div class="col-md-12">
    <br>
    <h2>{{course.courseDescription}}</h2>
    <hr />
    <form>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="courseDescription">Course Code</label>
            <input class="form-control" id="courseCode" name="courseCode" type="text"
                   readonly value="{{course.courseCode}}" />
          </div>
        </div>
        <div class="col-md-9">
          <div class="form-group">
            <label for="courseDescription">Course Description</label>
            <input class="form-control" id="courseDescription" name="courseDescription" type="text"
                   readonly value="{{course.courseDescription}}" />
          </div>
        </div>
      </div>
      <hr />
    </form>
  </div>
  {{#unless course}}
    <div class="col-md-12 text-center">
      <strong>{{message}}</strong>
    </div>
  {{/unless}}
</div>