<div class="row">
  <main class="col-md-12">
    <!-- Start your code here -->
    <h5>Welcome to my website <br> I will be demonstrating HTML5 principles and techniques, Routing in Express</h5>
    <header>
      <h4>Static Views and Routes</h4>
      <p>
        This site consists of 3 static views (
        <a href="/" target="_blank">Home</a>,
        <a href="/about" target="_blank">About</a>,
        <a href="/htmlDemo" target="_blank">HTML Demo</a>
        ) as well as 4 routes that supply data , including:
        <a href="/students" target="_blank">All Students</a>,
        <a href="/students?course=3 " target="_blank">Students by Course</a>,
        <a href="/student/2" target="_blank">A Single Student By Student Number</a>,
<!--        <a href="/tas" target="_blank">All TAs</a> and-->
        <a href="/courses" target="_blank">All Courses</a>.
      </p>
    </header>
    <header>
      <h4>HTML5</h4>
      <p>
        This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
        HTML5 is the latest version of the HyperText Markup Language, which is the standard markup language used to create web pages and other content on the internet.
        It is a more modern and robust version of HTML, with improved features and capabilities that make it more versatile and adaptable to the needs of today's web developers.
        HTML5 offers new elements and attributes, improved multimedia support, better semantics, and enhanced accessibility,
        making it the go-to choice for creating interactive and engaging web content. By utilizing HTML5,
        websites can provide a more seamless and enjoyable user experience across multiple devices and platforms.
      </p>
    </header>
    <!-- End your code here  -->
  </main>
</div>