<div class="row">
  <main class="col-md-12 ">
              <h1>404 PAGE NOT FOUND</h1>
              <p>Please check that you typed the address correctly,
                  you may go back to your previous page.
              </p>
    <img src="../public/image/unhappy_fallout_boy.png" alt="Error 404 Page Not Found - Unhappy Fallout Boy" class="vaultBoy">
  </main>
</div>